PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:greed-automatioN-@db.eqhziugmathrsvyvvzxb.supabase.co:5432/postgres
REDIS_URL=redis://default:*******@interesting-caramel-middle-40763.db.redis.io:14148
CLOUDINARY_CLOUD_NAME=dpaoea2t6
CLOUDINARY_API_KEY=421949237813653
CLOUDINARY_API_SECRET=8elbjhLWYKYWA-DBHHV31wjJCs0
CLOUDINARY_URL=cloudinary://421949237813653:8elbjhLWYKYWA-DBHHV31wjJCs0@dpaoea2t6
